<!doctype html>
<html lang="{{ page.seoLang }}">
	
		{% include "head.twig" %}
		
		{% include basekit.headScript %}
		
		<script type="text/javascript">
			$(function() {
				$('a[href*=#]:not([href=#])').click(function() {
					if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
						var target = $(this.hash);
						target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
						if (target.length) {
							$('html,body').animate({
								scrollTop: target.offset().top
							}, 1000);
							return false;
						}
					}
				});
			});
		</script>

	<body class="{{ page.backgroundClass }}">

<header class="bk-header">
	<div class="logo">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
	</div>
	    <div class="companyheader wrapper clearfix">
	        <div class="header-left">
	            {{widget('profile', 'footercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
	        </div>
	        <div class="header-center">
	            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
	        </div>
	        <div class="header-right">
	        	{{widget('profile', 'footercolumn1profileaddress', { 'profileType':'address', 'address':'profile'})|raw}} 
	        </div>
	    </div>       
</header>

		<nav class="nav">
			{{widget('extendednavigation', 'navigationheader', {})|raw}}
		</nav>
		<div class="header-image">
			{{widget('image', 'thisunqiuewidgetname', { 'src': asset('images/burger.png'), 'title': 'my image', 'fileName': 'burger.png', 'fileSize': '580kb', 'imageSize': '1192 x 309', 'imageWidth': '1192px'})|raw}}
		</div>

		<div class="page-wrap">
		
			{% include "header.twig" %}

			{% block content %}
			{% endblock %}

		</div>

<footer class="bk-footer">
	{{widget('profile', 'footercolumn1socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
</footer>

		
		<script type="text/javascript">
			!function() {
				function supportsSVG() {
					return !!document.createElementNS && !! document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect
				}
				if (supportsSVG()) document.documentElement.className += ' svg'
			}()
		</script>

		{% include basekit.bodyScript %}

	</body>
</html>